{% extends 'base.html.twig' %}
{% block title %}Centre de beauté: Rendez-vous{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type='text/css' />
{% endblock %}
{% block body %}
    <h1>Centre de beauté</h1>
    <div class="bg-agile">
        {% for message in app.flashes('notice_success') %}
            <div class="alert alert-dismissible alert-success" id="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Merci</h4>
                <p class="mb-0">{{ message }}</p>
            </div>
        {% endfor %}
        {% for message in app.flashes('error_synth') %}
            <div class="alert alert-dismissible alert-danger" id="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Erreur!</h4>
                <p class="mb-0">{{ message }}</p>
            </div>
        {% endfor %}
        <div class="book-appointment">
            <h2>Faire un rendez-vous</h2>
            {{ form_start(form, {'attr': {'id': 'form'}}) }}
            <div class="left-agileits-w3layouts same">
                <div class="gaps">
                    <p>Votre Nom</p>
                    {{ form_widget(form.nom) }}
                </div>
                <div class="gaps">
                    <p>Votre Prénom</p>
                    {{ form_widget(form.prenom) }}
                </div>
                <div class="gaps">
                    <p>Adresse Email</p>
                    {{ form_widget(form.email) }}
                </div>
            </div>
            <div class="right-agileinfo same">
                <div class="gaps">
                    <p>Service</p>
                    <select class="book-form-control" id="service1" name="service[]" onchange="getOptions('service1','options1');">
                        <option></option>
                        {% for service in services %}
                            <option value="{{ service.id }}">{{ service.nomService }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="gaps">
                    <p>Options</p>
                    <select class="book-form-control" multiple id="options1" name="options1[]">
                        <option value="" disabled selected>Options</option>
                    </select>
                </div>
            </div>
            <div class="right-agileinfo same">
                <div id="services_zone"></div>
                <div class="pull-right">
                    <button class="btn btn-outline-success" id="ajout_service" type="button"
                           name="ajout_service" onclick="ajoutService();" data-toggle="dropdown" data-placement="top"
                            title="Ajouter un autre service" aria-haspopup="true">+</button>
                    <button class="btn btn-outline-danger" id="remove_service" type="button"
                           name="remove_service" onclick="removeService();" data-toggle="dropdown" data-placement="top"
                            title="Supprimer le dernier service" aria-haspopup="true">-</button>
                </div>
            </div>
            <input type="button" name="button" onclick="verifier()" value="Valider">
            {{ form_end(form) }}
        </div>
    </div>
    <!--copyright-->
    <div class="copy w3ls">
        <p>&copy; 2021 Centre de beauté</p>
    </div>
    <!--//copyright-->
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">

        function getOptions(serv,opt) {//function that display each service options
            var service = document.getElementById(serv).value;
            $.ajax({
                type: 'POST',
                data : 'service=' + service,
                dataType: 'json',
                url: '{{ path('request_options') }}',
                success: function(data) {
                    $("#"+opt).empty();
                    $("#"+opt).append("<option disabled selected>Options</option>");

                    if(data!=""){

                        var len = data.length;
                        for(var i=1; i<len; i++){
                            var toAppend = "<option id="+ data[i]['id'] +">" + data[i]['nom'] + "</option>";
                            $("#"+opt).append(toAppend);
                        }
                    }
                }
            });
        }

        var i=1;//initialisation nbr de service

        function ajoutService() {//fonction pour ajouter une autre zone (service)
            i++;
            var options="options"+i+"[]";//input name
            var service="service[]";//input name
            //id
            var serviceId="service"+i;
            var optionsId="options"+i;
            var Z="servZ"+i;//required for the remove funct

            $('#services_zone').append('<div class="gaps" id='+Z+'>' +
                '<p>Service'+i+'</p>' +
                '<select class="book-form-control" name='+service+' multiple="multiple" ' +
                'id='+serviceId+' onchange=getOptions("'+serviceId+'","'+optionsId+'")>' +
                '{% for service in services %}<option value="{{ service.id }}">{{ service.nomService }}</option> {% endfor %}'+
                '</select>' +
                '<p>Options</p>' +
                '<select class="book-form-control" multiple="multiple" id="'+optionsId+'" name="'+options+'"></select>'+
                '</div>');
        }

        function removeService() {//Funct qui supprime la derniere zone ajouter
            if(i>1){
                var D="#servZ"+i;
                $(D).remove();
                i--;
            }
        }

        function verifier(){//validation formulaire
            //remove all errors
            $(".error").hide();
            var hasError = false;
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;

            //recuperer les valeurs
            var nomVal=document.getElementById("nom").value;
            var prenomVal=document.getElementById("prenom").value;
            var emailVal=document.getElementById("email").value;
            var service1Val=document.getElementById("service1").value;
            var options1Val=document.getElementById("options1").value;

            //verification -----------------------
            //check nom
            if (nomVal ===''){
                $("#nom").after('<small class="text-danger error">Champs obligatoire</small>');
                hasError = true;
            }else if (nomVal.length<2 || nomVal.length>50) {
                $("#nom").after('<small class="text-danger error">Nom doit comprendre entre 2 et 50 caractères</small>');
                hasError = true;
            }
            //check prenom
            if (prenomVal ===''){
                $("#prenom").after('<small class="text-danger error">Champs obligatoire</small>');
                hasError = true;
            }else if (prenomVal.length<2 || prenomVal.length>50) {
                $("#prenom").after('<small class="text-danger error">Prénom doit comprendre entre 2 et 50 caractères</small>');
                hasError = true;
            }
            //check email
            if (emailVal ===''){
                $("#email").after('<small class="text-danger error">Champs obligatoire</small>');
                hasError = true;
            }else if(!emailReg.test(emailVal)) {
                $("#email").after('<small class="text-danger error">Email invalid.</small>');
                hasError = true;
            }else if (emailVal.length>150) {
                $("#email").after('<small class="text-danger error">Votre email ne doit pas dépassé 150 caractères</small>');
                hasError = true;
            }

            //check selects
            if (service1Val ===''){
                $("#service1").after('<small class="text-danger error">Champs obligatoire</small>');
                hasError = true;
            }
            if (options1Val ===''){
                $("#options1").after('<small class="text-danger error">Champs obligatoire</small>');
                hasError = true;
            }

            //if valid action submit form-------------------
            if (hasError === false) {
                document.forms['form'].submit();
            }
        }

    </script>
    <script type="text/javascript" src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
{% endblock %}



